
#crystals {
	text-align: center;
	height: 200px;
}

#numbers {
	background-color: #ddd;
	text-align: center;
	width: 70%;
	float: left;

}

#scoreboard {
	background: #fdfd96;
	width: 30%;
	float: right;
	text-align: center;
}
#oneMoreTry {
	clear: both;
	overflow: auto;
	padding:30px;
	text-align: center;
	margin-top:30px;
}

#restart {
	font-size: 40px;
}
img {

	height: 125px;
	width: 125px;
}