.crystalImage {

}


#crystals {
	text-align: center;
	height: 200px;


}

#numbers {
	background-color: #ddd;
	text-align: center;

}

#scoreboard {
	text-align: center;
}
img {

	height: 200px;
	width: 200px;
}