
#crystals {
	text-align: center;
	min-height: 150px;
}

#numbers {
	background-color: #ddd;
	text-align: center;
	width: 70%;
	float: left;
	border-radius: 20px;

}

#scoreboard {
	background: #fdfd96;
	width: 30%;
	float: right;
	text-align: center;
	border-radius: 20px;

}
#oneMoreTry {
	clear: both;
	overflow: auto;
	padding:30px;
	text-align: center;
	margin-top:30px;
}

#restart {
	font-size: 40px;
}
img {

	height: 125px;
	width: 125px;
}

h1 {
	font-family: 'Lobster Two', cursive;
}

body {
	background-image: url('wood.png')
}